<html>
    <head>
        <title>Simple form</title>
    </head>
    <body>
        <div class='form'>
            <form method='POST' action=''>
                {{ form.hidden_tag() }}
                {{ form.first_name.label }} {{ form.first_name }}
                <br>
                {{ form.last_name.label }} {{ form.last_name }}
                <br>
		{{ form.dobbo.label }} {{ form.dobbo }}
                <br>
		{{ form.nummo.label }} {{ form.nummo }}
                <br>
		{{ form.decca.label }} {{ form.decca }}
                <br>
		{{ form.selecta.label }} {{ form.selecta }}
		<br>
                {{ form.submit }}
            {{ message }}
            </form>
        </div>
    </body>
</html>